body{
    margin: 0;
    padding: 0;
    background-color: slategray;
    text-align: center;
    color: silver;
}

ul li {
    list-style-type: none;
}

nav li{
    cursor: pointer;
}

#navv {  
    display:flex;
    flex-flow: row; 
    font-weight: bold;
    justify-content: center;
    }  

h1{
    font-size: 70px;
}

span {
    font-family: fantasy;
    font-size: 150px;
}

p {
 font-size: 25px;
}



